---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Error 404 - API animes">
  <main>
    <p class="text-9xl flex justify-between">
      <span class="bg-orange-600">4</span><span>0</span><span class="bg-orange-600">4</span>
    </p>
  </main>
</Layout>

<style>
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    display: flex;
    height: 100%;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
