---
import Layout from "@/layouts/Layout.astro"
import { DocumentacionComp } from '@comp/Documentacion'
---

<Layout title="Documentación de la API">
  <main class="relative">
    <section
      class="absolute text-black h-16 px-6 py-5 border-t-2 w-full top-0 left-0 bg-[rgb(var(--color-header))] sm:hidden"
    >
      <article class="">
        <form action="">
          <select name="" id="" class="rounded-md px-2 py-0.5">
            <option value="hola">Hola</option>
          </select>
        </form>
      </article>
      <article>
        <p class="text-ellipsis"></p>
      </article>
    </section>
    <section id="docs" class="gap-2 p-1">
      <DocumentacionComp client:load />
    </section>
  </main>
</Layout>

<style>
  body::-webkit-scrollbar {
    display: none;
  }

  #docs {
    font-size: 20px;
    line-height: 1.6;
  }

  @media screen and (max-width: 768px) {
    #docs {
      padding-top: 56px;
    }
  }
  @media screen and (min-width: 768px) {
    #docs {
      display: grid;
      grid-template-areas: "docs-titulos info";
      grid-template-columns: 250px 1fr;
      gap: 40px;
      & > header {
        grid-area: "docs-titulos";
      }
      & > main {
        grid-area: "info";
      }
    }
  }

  @media screen and (min-width: 1024px) {
    #docs {
      height: calc(100vh - 56px);
      display: grid;
      grid-template-areas: "docs-titulos info opciones";
      grid-template-columns: 250px 1fr 250px;
      & > footer {
        grid-area: "opciones";
      }
    }
  }
</style>
