---
import Layout from "@/layouts/Layout.astro";


---

<Layout title="Explorador de la API">
  <main>
		<h1>Hola 3</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
</style>